<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      lang="">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link href="/styles/mainTemplate.css" rel="stylesheet"/>
    <link href="/styles/sideMenu.css" rel="stylesheet"/>
    <link href="/styles/table.css" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/1deb41b553.js"></script>
<body th:class="html-body">
<div id="page-container">
    <div id="content-wrap">
        <div th:insert="mainTemplate :: #header-selector"></div>
        <div class="d-flex" id="side-wrapper">
            <div id="left-side-menu">
                <div class="bg-white" id="sidebar-wrapper">
                    <div class="list-group">
                        </br>
                        <div th:class="font-weight-normal"><h6>Users</h6></div>
                        <ul class="list-group list-group-flush">
                            <a href="/admin/users" class="list-group-item list-group-item-action">All users</a>
                        </ul>
                        </br>
                        <div th:class="font-weight-normal"><h6>Books</h6></div>
                        <ul class="list-group list-group-flush">
                            <a href="/admin/addbook" class="list-group-item list-group-item-action">Add book</a>
                            <a href="/admin/books" class="list-group-item list-group-item-action">All books</a>
                        </ul>
                        </br>
                        <div th:class="font-weight-normal"><h6>Genres</h6></div>
                        <ul class="list-group list-group-flush">
                            <a href="/admin/addgenre" class="list-group-item list-group-item-action">Add genre</a>
                            <a href="/admin/genres" class="list-group-item list-group-item-action">All genres</a>
                        </ul>
                        </br>
                        <div th:class="font-weight-normal"><h6>Requests</h6></div>
                        <ul class="list-group list-group-flush">
                            <th:block th:each="status : ${statuses}">
                            <a th:href="@{/admin/requests(status = ${status.getNameDB()})}" th:text="${status.getNameDB() + ' requests'}" class="list-group-item list-group-item-action"></a>
                            </th:block>
                        </ul>
                        </br>
                    </div>
                </div>
            </div>
            <section th:class="font-weight-normal">
                <div class="input-group">
                    <form th:method="GET" th:action="@{/admin/requests/s(status = ${currentStatus}, search = ${searchRequest})}">
                        <input type="text" class="form-control shadow-success" th:value="${searchRequest}" id="search"
                               name="search">
                        <span class="input-group-btn">
                <button id="collor-button" class="btn btn-light collor-button" type="submit"><i
                        class="fa fa-search"></i></button>
                        </span>
                    </form>
                </div>
                <p th:if="${search != null}">Showing results for "[[${search}]]"</p>
                <h2 th:if="${currentStatus == 'confirmed'}" th:text="'New confirmed requests'"></h2>
                <h2 th:if="${currentStatus == 'cancelled'}" th:text="'Cancelled requests'"></h2>
                <h2 th:if="${currentStatus == 'created'}" th:text="'Created status'"></h2>
                <h2 th:if="${currentStatus == 'processed'}" th:text="'Processed status'"></h2>
                <h2 th:if="${currentStatus == 'returned'}" th:text="'Returned status'"></h2>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th>isbn</th>
                            <th>Book name</th>
                            <th>Author</th>
                            <th>Client last name</th>
                            <th>Telephone</th>
                            <th>Passport number</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content font-weight-normal">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <th:block th:each="request : *{requests}">
                            <tr>
                                <td th:text="${request.book.isbn}"></td>
                                <td th:text="${request.book.name}"></td>
                                <td>
                                    <p th:each="author : ${request.book.authors}">
                                        <span th:text="${author.name}">Name</span>
                                    </p>
                                </td>
                                <td th:text="${request.user.lastName}"></td>
                                <td th:text="${request.user.userDetailDto.telephoneNumber}"></td>
                                <td th:text="${request.user.userDetailDto.passportNumber}"></td>
                                <td>
                                    <div th:if="${currentStatus == 'confirmed'}">
                                    <button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                            th:attr="data-target='#extradition' + ${request.id}">
                                        Extradite
                                    </button>
                                    <div class="modal fade" th:id="'extradition' + ${request.id}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body font-weight-normal" style="font-size: 18px;">
                                                    Do you realy want extradite this book?
                                                </div>
                                                <div class="modal-footer">
                                                    <div>
                                                        <form th:method="PATCH"
                                                              th:action="@{/admin/request/processed/{id}(id=${request.id})}">
                                                            <input type="submit" value="Submit" class="btn btn-light"/>
                                                            <button type="button" class="btn btn-outline-dark"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div th:if="${currentStatus == 'processed'}">
                                        <button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                                th:attr="data-target='#return' + ${request.id}">
                                            Return
                                        </button>
                                        <div class="modal fade" th:id="'return' + ${request.id}" tabindex="-1"
                                             role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body font-weight-normal" style="font-size: 18px;">
                                                        Is book returned?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div>
                                                            <form th:method="PATCH"
                                                                  th:action="@{/admin/request/returned/{id}(id=${request.id})}">
                                                                <input type="submit" value="Submit" class="btn btn-light"/>
                                                                <button type="button" class="btn btn-outline-dark"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${currentStatus == 'cancelled'}" th:text="'Cancelled'"></div>
                                    <div th:if="${currentStatus == 'created'}" th:text="'Created'"></div>
                                    <div th:if="${currentStatus == 'returned'}" th:text="'Returned'"></div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div th:insert="mainTemplate :: #footer-selector"></div>
    </div>
</div>
<script type="text/javascript" src="/js/table.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>