<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link href="/styles/mainTemplate.css" rel="stylesheet"/>
    <link href="/styles/sideMenu.css" rel="stylesheet"/>
    <link href="/styles/table.css" rel="stylesheet"/>
    <link href="/styles/select.css" rel="stylesheet"/>
    <link href="/styles/secondSelect.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/1deb41b553.js"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body th:class="html-body">
<div id="page-container">
    <div id="content-wrap">
        <div th:insert="mainTemplate :: #header-selector"></div>
        <div class="d-flex" id="side-wrapper">
            <div th:insert="adminMainPage :: #left-side-menu"></div>
            <section th:class="font-weight-normal">
                <div class="input-group">
                    <form th:method="GET" th:action="@{/admin/users/search(request = ${request})}">
                        <input type="text" class="form-control shadow-success" th:value="${request}" id="request" name="request">
                        <span class="input-group-btn">
                <button id="collor-button" class="btn btn-light collor-button" type="submit"><i class="fa fa-search"></i></button>
              </span>
                    </form>
                </div>
                <p th:if="${request != null}">Showing results for "[[${request}]]"</p>
                <h2>All users</h2>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Full info</th>
                            <th>Deleting</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content font-weight-normal">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <th:block th:each="user : *{users}">
                            <tr>
                                <td th:text="${user.getEmail()}">
                                <td th:text="${user.getFirstName()}"></td>
                                <td th:text="${user.getLastName()}"></td>
                                <td th:each="role : ${user.getRolesDto()}">
                                    <form th:method="PATCH"
                                          th:action="@{/admin/users/rolechange/{id}(id=${user.getId()})}"
                                          th:object="${user}">
                                        <div th:class="select-box" style="width: 110px;">
                                            <label th:for="select-box1 + ${user.getId()}"
                                                   class="label select-box1"><span class="label-desc"
                                                                                   th:text="${role.mapName()}"></span></label>
                                            <select th:id="select-box1 + ${user.getId()}" class="select"
                                                    th:value="*{roleName}" th:name="roleName">
                                                <option style="display: none"></option>
                                                <option th:value="'ROLE_USER'" th:text="'USER'"></option>
                                                <option th:value="'ROLE_STUDENT'" th:text="'STUDENT'"></option>
                                                <option th:value="'ROLE_PROFESSOR'" th:text="'PROFESSOR'"></option>
                                            </select>
                                        </div>
                                        <div class="modal fade" th:id="'select-modal1' + ${user.getId()}" role="dialog"
                                             tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body font-weight-normal" style="font-size: 18px;">
                                                        Do you realy want to change role of this user?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div>
                                                            <input type="submit" value="OK" class="btn btn-light"
                                                                   style="background-color: #edf5e1"/>
                                                            <button type="button" class="btn btn-outline-dark"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script th:inline="javascript">
                                            var id = [[${user.id}]];
                                            $('#select-box1' + id).change(function () {
                                                var idModal = [[${user.id}]];
                                                var title = $(this).val();
                                                $('.modal-title').html(title);
                                                $('#select-modal1' + idModal).modal('show');
                                            });
                                        </script>
                                    </form>
                                </td>
                                <td>
                                    <form th:method="PATCH"
                                          th:action="@{/admin/users/activate/{id}(id=${user.getId()})}"
                                          th:object="${user}">
                                        <div th:class="select-box" style="width: 110px;">
                                            <label th:for="'select-box2' + ${user.getId()}"
                                                   class="label select-box1"><span class="label-desc"
                                                                                   th:text="${user.namedStatus()}"></span></label>
                                            <select th:id="'select-box2' + ${user.getId()}" class="select"
                                                    th:value="*{status}" th:name="status">
                                                <option style="display: none"></option>
                                                <option th:value="'1'" th:text="'Activate'"></option>
                                                <option th:value="'0'" th:text="'Disactivate'"></option>
                                            </select>
                                        </div>
                                        <div class="modal fade" th:id="'select-modal2' + ${user.getId()}" role="dialog"
                                             tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body font-weight-normal" style="font-size: 18px;">
                                                        Do you realy want to change activation status of this user?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div>
                                                            <input type="submit" value="OK" class="btn btn-light"
                                                                   style="background-color: #edf5e1"/>
                                                            <button type="button" class="btn btn-outline-dark"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script th:inline="javascript">
                                            var id = [[${user.id}]];
                                            $('#select-box2' + id).change(function () {
                                                var idModal = [[${user.id}]];
                                                var title = $(this).val();
                                                $('.modal-title').html(title);
                                                $('#select-modal2' + idModal).modal('show');
                                            });
                                        </script>
                                    </form>
                                </td>
                                <td>
                                    <a href="#"><img th:class="btn-link" th:src="@{'/images/info.png'}"  data-toggle="modal"
                                         th:attr="data-target='#fullInfo' + ${user.getId()}"></a>
                                    <div class="modal fade" th:id="'fullInfo' + ${user.getId()}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Full user information</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="font-size: 15px;">
                                                    <div class="card mb-3" style="max-width: 900px;">
                                                        <div class="row no-gutters">
                                                            <div class="col-md-4 align-items-center" >
                                                                <div class="img-center">
                                                                <img th:src="@{'/images/' + ${user.getEmail()} + '.jpg'}"
                                                                     alt="Admin" class="rounded-circle"
                                                                     width="150">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="card-body">
                                                                    <!--                                                                    <h5 class="card-title">Card title</h5>-->
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h6 class="mb-0">Email</h6>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary" th:text="${user.email}">

                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h6 class="mb-0">First name</h6>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary" th:text="${user.firstName}">
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h6 class="mb-0">Last name</h6>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary" th:text="${user.lastName}">
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <th:block th:each="role : ${user.getRolesDto()}">
                                                                            <div class="col-sm-3">
                                                                                <h6 class="mb-0">Role</h6>
                                                                            </div>
                                                                            <div class="col-sm-9 text-secondary" th:text="${role.mapName()}">
                                                                            </div>
                                                                        </th:block>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h6 class="mb-0">Passport number</h6>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary" th:text="${user.getUserDetailDto().passportNumber}">
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h6 class="mb-0">Adress</h6>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary" th:text="${user.getUserDetailDto().address}">
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h6 class="mb-0">Educational institution</h6>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary" th:text="${user.getUserDetailDto().educationalInstitution}">
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h6 class="mb-0">Educational institution adress</h6>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary" th:text="${user.getUserDetailDto().educationalInstitutionAddress}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-dark" data-toggle="modal"
                                            th:attr="data-target='#deleteModal' + ${user.getId()}">
                                        Delete
                                    </button>
                                    <div class="modal fade" th:id="'deleteModal' + ${user.getId()}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body font-weight-normal" style="font-size: 18px;">
                                                    Do you realy want delete this user?
                                                </div>
                                                <div class="modal-footer">
                                                    <div>
                                                        <form th:method="DELETE"
                                                              th:action="@{/admin/users/{id}(id=${user.getId()})}"
                                                              th:object="${user}">
                                                            <input type="submit" value="Delete" class="btn btn-dark"/>
                                                            <button type="button" class="btn btn-outline-dark"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div th:insert="mainTemplate :: #footer-selector"></div>
    </div>
</div>
<script type="text/javascript" src="/js/table.js"></script>
<script type="text/javascript" src="/js/secondSelect.js"></script>
<script type="text/javascript" src="/js/select.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>