<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link href="/styles/mainTemplate.css" rel="stylesheet"/>
    <link href="/styles/bookAllBooks.css" rel="stylesheet"/>
    <link href="/styles/pagination.css" rel="stylesheet"/>
    <link href="/styles/secondSelect.css" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <script src="https://use.fontawesome.com/1deb41b553.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body th:class="html-body">
<div id="page-container">
    <div id="content-wrap">
        <div th:insert="mainTemplate :: #header-selector"></div>
        <div class="body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid search">
                            <div class="grid-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5 class="grid-title"><i class="fa fa-filter"></i> Filters</h5>
                                        <hr>
                                        <h5>By genre:</h5>
                                        <ul class="list-group list-group-flush">
                                            <ul  class="list-group list-group-flush">
                                                <th:block th:each="genre : ${genres}">
                                                    <li  class="list-group-item">
                                                        <a class="text-dark" th:href="@{/books/s(genre = ${genre.name}, search = ${searchRequest}, orderBy = ${orderByRequest})}" th:text="${genre.name}"></a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <h5><i class="fa fa-file-o"></i> Books</h5>
                                        <hr>
                                        <form id="form-filter" th:method="GET"
                                              th:action="@{/books/s(genre = ${genreRequest}, search = ${searchRequest}, orderBy = ${orderByRequest})}">
                                            <div class="input-group">
                                                <input type="text" class="form-control shadow-success"
                                                  th:value="${searchRequest}" id="search" name="search">
                                                <span class="input-group-btn">
                                            <button id="collor-button" class="btn btn-light shadow-success"
                                                    type="submit"><i
                                                    class="fa fa-search"></i></button></span>
                                            </div>
                                            <p th:if="${searchRequest != null &&
                                            !searchRequest.isEmpty()}">Showing results for "[[${searchRequest}]]"</p>
                                            <div class="padding"></div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label th:for="select-box"
                                                               class="label select-box1">
                                                            <span th:if="${orderByRequest == null || orderByRequest.isEmpty() }" th:text="'Order by'" class="label-desc"></span>
                                                            <span th:if="${orderByRequest == 'name'}" th:text="'By name'" class="label-desc"></span>
                                                            <span th:if="${orderByRequest == 'rating'}" th:text="'By rating'" class="label-desc"></span></label>
                                                        <select th:id="select-box" class="select"
                                                                th:value="${orderByRequest}" name="orderBy"
                                                                onchange="this.form.submit()">
                                                            <option style="display: none"></option>
                                                            <option th:value="'name'">Name</option>
                                                            <option th:value="'rating'">Rating</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <th:block th:each="book : ${books}">
                                            <div class="table-responsive">

                                                <table class="table table-hover">
                                                    <tbody>
                                                    <tr th:onclick="'window.location.href = \'' + @{/books/book(isbn=${book.isbn})} + '\''">
                                                        <td class="number text-center"></td>
                                                        <td class="image"><img th:src="@{${book.getPicture()}}">
                                                        </td>
                                                        <td class="product" width="500">
                                                            <strong th:text="${#strings.abbreviate(book.name,100)}"></strong>
                                                            <br>
                                                            <i th:each="author : ${book.authors}" th:text="${author.name == book.getAuthors()[0].name}
                                                            ? *{author.name} : ' and ' + *{author.name}"></i>
                                                            <br>
                                                            <br>
                                                            <p th:text="${#strings.abbreviate(book.description,200)}">
                                                            </p>
                                                        </td>
                                                        <td class="rate text-right">
                                                            <div th:if="${book.averageRating > 0 && book.averageRating <= 1}"
                                                                 class="product-rating">
                                                                <i class="fa fa-star gold"></i><i
                                                                    class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i>
                                                            </div>
                                                            <div th:if="${book.averageRating > 1 && book.averageRating <= 1.5}"
                                                                 class="product-rating">
                                                                <i class="fa fa-star gold"></i><i
                                                                    class="fa fa-star-half-o gold"></i><i
                                                                    class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i>
                                                            </div>
                                                            <div th:if="${book.averageRating > 1.5 && book.averageRating <= 2}"
                                                                 class="product-rating">
                                                                <i class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i>
                                                            </div>
                                                            <div th:if="${book.averageRating > 2 && book.averageRating <= 2.5}"
                                                                 class="product-rating">
                                                                <i class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star-half-o gold"></i><i
                                                                    class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i>
                                                            </div>
                                                            <div th:if="${book.averageRating > 2.5 && book.averageRating <= 3}"
                                                                 class="product-rating">
                                                                <i class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i>
                                                            </div>
                                                            <div th:if="${book.averageRating > 3 && book.averageRating <= 3.5}"
                                                                 class="product-rating">
                                                                <i class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star-half-o gold"></i><i
                                                                    class="fa fa-star-o"></i>
                                                            </div>
                                                            <div th:if="${book.averageRating > 3.5 && book.averageRating <= 4}"
                                                                 class="product-rating">
                                                                <i class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star-o"></i>
                                                            </div>
                                                            <div th:if="${book.averageRating > 4 && book.averageRating <= 4.5}"
                                                                 class="product-rating">
                                                                <i class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star-half-o gold"></i>
                                                            </div>
                                                            <div th:if="${book.averageRating > 4.5 && book.averageRating <= 5}"
                                                                 class="product-rating">
                                                                <i class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i><i
                                                                    class="fa fa-star gold"></i>
                                                            </div>
                                                        </td>
                                                        <td class="price text-right"
                                                            th:text="${book.parseAverageRating()}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </th:block>
                                        <nav aria-label="Page navigation example" class="pagination-position">
                                            <ul class="pagination">
                                                <li class="page-item" th:if="${bookPage.totalPages > 0}"
                                                    th:each="pageNumber : ${pageNumbers}">
                                                    <a class="page-link"
                                                       th:href="@{/books(size=${bookPage.size}, page=${pageNumber},search = ${search},orderBy = ${orderBy})}"
                                                       th:text="${pageNumber}">
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="mainTemplate :: #footer-selector"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#form-filter").on("change", "input:checkbox", function () {
            $("#form-filter").submit();
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>