<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link href="/styles/mainTemplate.css" rel="stylesheet"/>
    <link href="/styles/bookAllBooks.css" rel="stylesheet"/>
    <link href="/styles/pagination.css" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <script src="https://use.fontawesome.com/1deb41b553.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body th:class="html-body">
<div id="page-container">
    <div id="content-wrap">
        <div th:insert="mainTemplate :: #header-selector"></div>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="body">
            <div class="container">
                <div class="row">
                    <!-- BEGIN SEARCH RESULT -->
                    <div class="col-md-12">
                        <div class="grid search">
                            <div class="grid-body">
                                <div class="row">
                                    <!-- BEGIN FILTERS -->
                                    <div class="col-md-3">
                                        <h5 class="grid-title"><i class="fa fa-filter"></i> Filters</h5>
                                        <hr>

                                        <!-- BEGIN FILTER BY CATEGORY -->
                                        <form id="form-filter" th:method="GET" th:action="@{/books/filter/genre}"
                                              th:object="${genres}">
                                            <div class="checkbox">
                                                <label><input th:field="*{fiction}" th:value="'FICTION'" type="checkbox"
                                                              class="icheck"> Fiction</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input th:field="*{science}" th:value="'SCIENCE'" type="checkbox"
                                                              class="icheck"> Science</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input th:field="*{math}" th:value="'MATH'" type="checkbox"
                                                              class="icheck"> Math</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input th:field="*{economy}" th:value="'ECONOMY'" type="checkbox"
                                                              class="icheck"> Economy</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input th:field="*{computerScience}"
                                                              th:value="'COMPUTER_SCIENCE'" type="checkbox"
                                                              class="icheck"> Computer science</label>
                                            </div>
                                            <h5>By genre:</h5>
                                            <div class="checkbox">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" th:valuetype="*{fiction}"
                                                           th:value="'FICTION'" th:id="fiction" th:name="fiction">
                                                    <span>Fiction</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" th:valuetype="*{science}"
                                                           th:value="'SCIENCE'" th:id="science" th:name="science">
                                                    <span>Science</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" th:valuetype="*{math}" th:value="'MATH'"
                                                           th:id="math" th:name="math">
                                                    <span>Math</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" th:valuetype="*{economy}"
                                                           th:value="'ECONOMY'" th:id="economy" th:name="economy">
                                                    <span>Economy</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" th:valuetype="*{computerScience}"
                                                           th:value="'COMPUTER_SCIENCE'" th:id="computerScience"
                                                           th:name="computerScience">
                                                    <span>Computer science</span>
                                                </label>
                                            </div>
                                            <!-- END FILTER BY CATEGORY -->
                                        </form>
                                        <div class="padding"></div>

                                        <!-- BEGIN FILTER BY DATE -->
                                        <h5>By rating:</h5>
                                        From
                                        <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z"
                                             data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                                            <input type="text" class="form-control shadow-success">
                                            <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                        </div>
                                        <input type="hidden" id="dtp_input1" value="">

                                        To
                                        <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z"
                                             data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                                            <input type="text" class="form-control shadow-success">
                                            <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                        </div>
                                        <input type="hidden" id="dtp_input2" value="">
                                        <!-- END FILTER BY DATE -->

                                        <div class="padding"></div>
                                    </div>
                                    <!-- END FILTERS -->
                                    <!-- BEGIN RESULT -->
                                    <div class="col-md-9">
                                        <h5><i class="fa fa-file-o"></i> Books</h5>
                                        <hr>
                                        <!-- BEGIN SEARCH INPUT -->
                                        <form th:method="GET" th:action="@{/books(request = ${request})}">
                                            <div class="input-group">
                                                <input type="text" class="form-control shadow-success"
                                                       th:value="${request}" id="request" name="request">
                                                <span class="input-group-btn">
                                            <button class="btn btn-light collor-button" type="submit"><i
                                                    class="fa fa-search"></i></button></span>
                                            </div>
                                        </form>
                                        <!-- END SEARCH INPUT -->
                                        <div class="padding"></div>
                                        <div class="row">
                                            <!-- BEGIN ORDER RESULT -->
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <select class="form-control shadow-success"
                                                            id="exampleFormControlSelect1">
                                                        <option>Order by</option>
                                                        <option>Name</option>
                                                        <option>Rating</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- END ORDER RESULT -->
                                            <div class="col-md-6 text-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default active"><i
                                                            class="fa fa-list"></i></button>
                                                    <button type="button" class="btn btn-default"><i
                                                            class="fa fa-th"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- BEGIN TABLE RESULT -->
                                        <th:block th:each="book : ${books}">
                                            <div class="table-responsive">

                                                <table class="table table-hover">
                                                    <tbody>
                                                    <tr>
                                                        <td class="number text-center">1</td>
                                                        <td class="image"><img th:src="@{${book.getPicture()}}">
                                                        </td>
                                                        <td class="product">
                                                            <strong th:text="${#strings.abbreviate(book.name,100)}"></strong>
                                                            <br>
                                                            <i th:each="author : ${book.authors}" th:text="${author.name == book.getAuthors()[0].name}
                                                            ? *{author.name} : ' and ' + *{author.name}"></i>
                                                            <br>
                                                            <br>
                                                            <p th:text="${#strings.abbreviate(book.description,200)}">
                                                            </p>
                                                        </td>
                                                        <td class="rate text-right"><p><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i
                                                                class="fa fa-star-half-o"></i></p></td>
                                                        <td class="price text-right">rating</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </th:block>
                                        <!-- END TABLE RESULT -->
                                        <!-- BEGIN PAGINATION -->
                                        <nav aria-label="Page navigation example" class="pagination-position">
                                            <ul class="pagination">
                                                <li class="page-item" th:if="${bookPage.totalPages > 0}"
                                                    th:each="pageNumber : ${pageNumbers}">
                                                        <a class="page-link"
                                                           th:href="@{/books(size=${bookPage.size}, page=${pageNumber})}"
                                                           th:text="${pageNumber}">
                                                        </a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <!-- END PAGINATION -->
                                    </div>
                                    <!-- END RESULT -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SEARCH RESULT -->
                </div>
            </div>
        </div>
        <div th:insert="mainTemplate :: #footer-selector"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#form-filter").on("change", "input:checkbox", function () {
            $("#form-filter").submit();
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>