<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <link href="/styles/styles.css" rel="stylesheet"/>
    <link href="/styles/mainTemplate.css" rel="stylesheet"/>
    <link href="/styles/inputLogin.css" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div th:insert="mainTemplate :: #header-selector"></div>
        <form th:method="PATCH" class="form-input" th:action="@{/login/forgotpassword}" th:object="${UserDtoEmail}">
            <fieldset>
                <div class="text-muted text-center" style="font-size: 15px; margin-top: 100px;">
                    Please enter your account email, to which we will send new password
                </div>
                    <div class="group">
                        <div style="color:red" th:text="${emailForgotPasswordError}"></div>
                        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        <input type="text" id="email" name="email" th:field="*{email}"
                               required="true" autofocus="true"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>
                    <div class="btn-box">
                        <button class="btn btn-submit" type="submit">OK</button>
                    </div>
            </fieldset>
        </form>
        <div th:insert="mainTemplate :: #footer-selector"></div>
    </div>
</div>
</body>
</html>