<DOCTYPE html>
    <html th:class="html-body" class="html body" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Template</title>
        <link href="/styles/styles.css" rel="stylesheet"/>
        <link href="/styles/mainTemplate.css" rel="stylesheet"/>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    </head>
    <body th:class="html-body">
    <div id="header-selector">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="/index">
                <h1 class="h1-temp">Global
                    <img th:src="@{'/images/logo.png'}" width="30" height="30" class="d-inline-block align-top">
                    Library
                </h1>
            </a>
            <ul class="nav justify-content-end" id="nav">
                <li class="nav-item">
                    <p id="quote">Once you learn to read, you will be forever free.</p>
                </li>
                <li class="nav-item">
                    <a id="signin" sec:authorize="!isAuthenticated()" class="btn btn-outline-dark" href="/login"
                       role="button">Log in</a>
                </li>
                <li class="nav-item">
                    <a id="new" sec:authorize="!isAuthenticated()" class="btn btn-outline-dark" href="/new"
                       role="button">New</a>
                </li>
                <li class="nav-item">
                    <a id="logout" sec:authorize="isAuthenticated()" class="btn btn-outline-dark" href="/logout" role="button">Log
                        out</a>
                </li>
                <li class="nav-item">
                    <a id="admin" sec:authorize="hasRole('ADMIN')" class="btn btn-outline-dark" href="/admin"
                       role="button">Admin</a>
                </li>
                <li class="nav-item">
                    <a id="myaccount" sec:authorize="hasAnyRole('USER','STUDENT','PROFESSOR')" class="btn btn-outline-dark" href="/user/myaccount"
                       role="button">My account</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-light" style="background-color: #edf5e1;">
            <a class="navbar-brand" href="#">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">For students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">For professors</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    </div>
    <div id="footer-selector">
        <div id="footer">
            <div class="footer-basic">
                <footer>
                    <div class="social"><a href="#"><img th:src="@{'/images/instagram.png'}" width="30" height="30"
                                                         class="d-inline-block align-top" alt=""><i
                            class="icon ion-social-instagram"></i></a>
                        <a href="#"><img th:src="@{'/images/youtube.png'}" width="30" height="30"
                                         class="d-inline-block align-top" alt=""><i
                                class="icon ion-social-snapchat"></i></a>
                        <a href="#"><img th:src="@{'/images/twitter.png'}" width="30" height="30"
                                         class="d-inline-block align-top" alt=""><i class="icon ion-social-twitter"></i></a>
                        <a href="#"><img th:src="@{'/images/facebook.png'}" width="30" height="30"
                                         class="d-inline-block align-top" alt=""><i
                                class="icon ion-social-facebook"></i></a>
                    </div>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Home</a></li>
                        <li class="list-inline-item"><a href="#">Services</a></li>
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Terms</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="copyright">COPYRIGHT 2021 ©Global library | All rights reserved</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
    </html>
</DOCTYPE>